@base: #5BC0DE;
@secondary: #00D500;

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  padding: 130px 0 0 0 !important;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Ubuntu, 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif !important;

  background: #444 url("/img/pattern.png");

  &.animelist {
    background: #222 url("/img/back.png") no-repeat fixed center;
    background-size: cover;
  }
}

::-moz-selection {
  background: @secondary;
  text-shadow: 1px 2px 1px darken(@secondary, 20%);
}

::selection {
  background: @secondary;
  text-shadow: 1px 2px 1px darken(@secondary, 20%);
}

.container-full {
  width: 100%;
  margin: 0;
  padding: 0;
}

section#animes {
  background-size: cover;
  background: rgba(221, 221, 221, 0.85) no-repeat center;
  border-bottom: 5px solid @base;
  .show_commentary {
    border-bottom: 1px #ccc solid;
  }
}

section#series {
  background-size: cover;
  background: rgba(204, 204, 204, 0.85) no-repeat center;
  .show_commentary {
    border-bottom: 1px #bbb solid;
  }
}

header {
  border-bottom: 5px solid @base;
  background-color: white;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  -webkit-transition: height 250ms;
  -moz-transition: height 250ms;
  -ms-transition: height 250ms;
  -o-transition: height 250ms;
  transition: height 250ms;

  &.affix {
    height: 75px;
    overflow: hidden;
    #go2new {
      display: inline-block;
    }
    #navigation-affix {
      display: inline-block;
    }
    #navigation-affix-top {
      display: none;
    }
    #site-title {
      display: none;
    }
  }
  &.affix-top {
    height: 130px;
    overflow: visible;
    #go2new {
      display: none;
    }
    #navigation-affix {
      display: none;
    }
    #navigation-affix-top {
      display: block;
    }
    #site-title {
      display: inline-block;
    }
  }

  @media (max-width: 768px) {
    .nav-justified > li {
      display: table-cell;
      width: 1%;
    }

    .nav-justified > li > a {
      border-bottom: 1px solid #ddd !important;
      border-radius: 4px 4px 0 0 !important;
      margin-bottom: 0 !important;
    }
  }

  .nav {
    li > a {
      color: darken(@base, 10%);
      border: 1px solid transparent;
      &:hover {
        color: darken(@base, 5%);
      }
      &.active {
        color: darken(@secondary, 10%) !important;
        background-color: rgba(50, 50, 50, 0.1) !important;
        border: 1px solid rgba(50, 50, 50, 0.3) !important;
        &:hover {
          color: darken(@secondary, 5%) !important;
          background-color: rgba(50, 50, 50, 0.2) !important;
          border: 1px solid rgba(50, 50, 50, 0.4) !important;
        }
      }
    }

  }
  .nav-tabs {
    li > a {
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
      border-bottom: none !important;
    }
  }
  #search {
    margin-top: 11px;
    height: 48px;
    border-radius: 0;
  }

  #site-title {
    font-weight: 300;
  }
}

#errors {
  left: 10%;
  right: 10%;
  margin: 40px auto;
  position: fixed;
  z-index: 900;
  text-align: center;
}

#loader {
  position: fixed;
  background: black url("/img/pattern.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 800;
  display: table;

  .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

footer {
  padding-top: 15px;
  border-top: 5px solid @base;
  background-color: white;
}

body a {
  color: @base;
  outline: 0 !important;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: darken(@base, 15%) !important;
  }
}

.show_commentary {
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  color: #111;
}

input.edited-name {
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  color: #111;
  border-bottom: 3px solid @base;
  font-style: italic;
}

.item {
  padding: 15px;
  margin: 15px 0;
}

.item .input-group-addon {
  height: 34px;
  cursor: pointer;
}

.blue {
  color: @base !important;
}

.light-green {
  color: #B6D0B6 !important;
}

.green {
  color: @secondary !important;
}

.red {
  color: red !important;
}

.orange {
  color: #ffaa00 !important;
}

.purple {
  color: purple !important;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

.grey {
  color: #555 !important;
}

@media (min-width: 768px) {
  .spacer {
    height: 30px;
  }
}

@media (min-width: 992px) {
  .spacer {
    height: 75px;
  }
}

@media (min-width: 1200px) {
  .spacer {
    height: 100px;
  }
}

.spacer {
  display: block;
  content: "";
  background-color: transparent !important;
  width: 100%;
}

.onHover {
  .onHoverChild {
    visibility: hidden;
  }
  &:hover {
    .onHoverChild {
      visibility: visible;
    }
  }
}

@font-face {
  font-family: Ubuntu;
  src: url(/fonts/Ubuntu-L.ttf);
}

