@base: #5BC0DE;
@secondary: #00D500;

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  padding: 130px 0 0 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Ubuntu, 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif !important;
  background: #222 url("/img/back.png") no-repeat fixed center;
  background-size: cover;
}

section#animes {
  background-size: cover;
  background: rgba(221, 221, 221, 0.95) no-repeat center;
  .show_commentary {
    border-bottom: 1px #ccc solid;
  }
}

section#series {
  background-size: cover;
  background: rgba(204, 204, 204, 0.95) no-repeat center;
  .show_commentary {
    border-bottom: 1px #bbb solid;
  }
}

header {
  border-bottom: 5px solid @base;
  background-color: white;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &.affix {
    height: 75px;
    overflow: hidden;
    #back2top {
      display: inline-block;
    }
    #go2new {
      display: inline-block;
    }
    #navigation-affix {
      display: inline-block;
    }
    #navigation-affix-top {
      display: none;
    }
    #site-title {
      display: none;
    }
  }
  &.affix-top {
    height: 130px;
    overflow: visible;
    #back2top {
      display: none;
    }
    #go2new {
      display: none;
    }
    #navigation-affix {
      display: none;
    }
    #navigation-affix-top {
      display: inline-block;
    }
    #site-title {
      display: inline-block;
    }
  }

  .nav {
    li > a {
      color: darken(@base, 10%);
      border: 1px solid transparent;
      &:hover {
        color: darken(@base, 5%);
      }
      &.active {
        color: darken(@secondary, 10%) !important;
        background-color: rgba(50, 50, 50, 0.1) !important;
        border: 1px solid rgba(50, 50, 50, 0.3) !important;
        &:hover {
          color: darken(@secondary, 5%) !important;
          background-color: rgba(50, 50, 50, 0.2) !important;
          border: 1px solid rgba(50, 50, 50, 0.4) !important;
        }
      }
    }

  }
  .nav-tabs {
    li > a {
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
      border-bottom: none !important;
    }
  }
  #search {
    margin: 10px 0 0 7px;
    height: 48px;
    border-radius: 0;
  }
}

footer {
  border-top: 5px solid @base;
  background-color: white;
}

a {
  color: @base;
}

a.back2top {
  color: white;
}

.show_commentary {
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  color: #333;
}

a.item-title {
  color: @base;
  text-decoration: none;
}

.item {
  padding: 15px;
  margin: 15px 0;
}

.item .input-group-addon {
  height: 34px;
  cursor: pointer;
}

.blue {
  color: @base !important;
}

.light-green {
  color: #B6D0B6 !important;
}

.green {
  color: @secondary !important;
}

.red {
  color: red !important;
}

.orange {
  color: #ffaa00 !important;
}

.purple {
  color: purple !important;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

.grey {
  color: darkgrey !important;
}

.spacer {
  height: 10px;
  width: 100%;
}

.onHover {
  .pull-left {
    visibility: hidden;
  }
  &:hover {
    .pull-left {
      visibility: visible;
    }
  }
}

@font-face {
  font-family: Ubuntu;
  src: url(/fonts/Ubuntu-L.ttf);
}

