<template name="login">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-4">
            <img src="/img/shana.png" class="img-responsive" alt="Shana"/>
        </div>
        <div class="col-md-8 white">
            <div class="spacer"></div>
            <form id="form-login">
                <legend class="white">Log In</legend>
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control"
                           placeholder="Username"
                           required/>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control"
                           placeholder="Password"
                           required/>
                </div>
                <div class="form-group col-md-4 col-md-offset-4">
                    <input type="submit" class="btn btn-block btn-primary" value="Log In"/>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="page-header">You don't have an account ?</h3>

                    <p class="lead">Head to the <a href="{{pathFor 'register'}}">Register page</a></p>
                </div>
            </div>
        </div>
    </div>
</template>
