<template name="analytics">
    <script>
        if (window.location.href.indexOf("local") <= -1) {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-67560863-2', 'auto');
            ga('send', 'pageview');
        } else {
            console.log("%cWelcome to the Development Version of MySuperAnimeList !\n" +
                    "Make nice code and don't break everything :)\n" +
                    "Check:\nhttps://github.com/LeNiglo/animelist [Github] (PR accepted)\n" +
                    "http://docs.meteor.com [Meteor Doc].",
                    'color: #5BC0DE; font-size: 12px;');
        }
    </script>
</template>