<template name="footer">
    <footer style="padding-top: 15px;">
        <div class="container text-right">
            <h2>
				<span class="pull-left" style="font-size: 48px;">
					<a id="logout" tabindex="-1" title="Logout" href="#"><i class="fa fa-power-off"></i></a>
                    {{#if isDesktop}}
                        <a id="export" tabindex="-1" title="Export to JSON" href="#"><i
                                class="glyphicon glyphicon-export"></i></a>
					    <a id="import" tabindex="-1" title="Import JSON" href="#"><i
                                class="glyphicon glyphicon-import"></i></a>
                    {{/if}}
                    <a id="changeBackground" tabindex="-1" title="Change Background" href="#"><i
                            class="fa fa-file-image-o"></i></a>
				</span>
                <span>Created &amp; Designed by Guillaume Lefrant.</span>
            </h2>

            <p>You can contact me at <a href="mailto:lefrantguillaume@gmail.com" tabindex="-1">lefrantguillaume@gmail.com</a>
                or via <a href="http://lefrantguillaume.com" target="_blank">my Website</a>.</p>
        </div>
    </footer>
</template>