<template name="header">
    <header>
        <div class="container">
            <div class="row">
                <h1>
					<span class="pull-right" style="margin-top: -19px;">
						<ul class="sortBy nav navbar-nav navbar-right">
                            <li class="hidden-xs">
                                <a id="go2new" tabindex="-1" title="Create New" href="#" class="">
                                    <i class="fa fa-plus-square-o"></i>
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a id="showCategories" tabindex="-1" title="Sort by Category" href="#"
                                   class="{{show_cat}}">
                                    <i class="fa fa-list-alt"></i>
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a id="showFinished" tabindex="-1" title="Show Finished ones" href="#"
                                   class="{{show_finished}}">
                                    <i class="fa fa-check-square-o"></i>
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a id="sortAlpha" tabindex="-1" title="Sort by Alpha" href="#"
                                   class="{{sort_alpha "class"}}">
                                    {{{sort_alpha "glyph"}}}
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a id="sortDate" tabindex="-1" title="Sort by Date" href="#"
                                   class="{{sort_date "class"}}">
                                    {{{sort_date "glyph"}}}
                                </a>
                            </li>
                            <li>
                                <div class="col-xs-12">
                                    <input type="text" tabindex="1" class="form-control" id="search"
                                           placeholder="Search"
                                           autocomplete="off" autofocus/>
                                </div>
                            </li>
                        </ul>
					</span>
					<span id="site-title">
                        Hi, <em>{{ currentUser.username }}</em> !
                    </span>

                    <div class="col-xs-4" id="navigation-affix" style="margin-top: -19px;">
                        <ul class="nav nav-tabs nav-justified" role="navigation">
                            <li><a href="#animes" tabindex="-1"><span style="font-size: 24px;">Animes</span></a></li>
                            <li><a href="#series" tabindex="-1"><span style="font-size: 24px;">Series</span></a></li>
                        </ul>
                    </div>
                </h1>
            </div>
            <div class="row" id="navigation-affix-top">
                <ul class="nav nav-tabs nav-justified" role="navigation">
                    <li><a href="#animes" tabindex="-1"><span style="font-size: 24px;">Animes</span></a></li>
                    <li><a href="#series" tabindex="-1"><span style="font-size: 24px;">Series</span></a></li>
                </ul>
            </div>
        </div>
    </header>
</template>