<template name="addItem">
    <div class="container">
        <h2 class="page-header">
            <i class="fa fa-plus-square orange"></i>&nbsp;&nbsp;&nbsp;Add New !
        </h2>

        <form class="form-horinzontal addItem" data-type="{{.}}" autocomplete="off">
            <div class="row" style="border-bottom: 1px solid #e1e1e1; padding-bottom: 7px; margin-bottom: 7px;">
                <div class="col-xs-6">
                    <input type="search" class="form-control typeahead" name="name" placeholder="Name"
                           autocomplete="off"
                           spellcheck="off" data-sets="shownames" data-template="showsuggest" data-hint="true"
                           data-highlight="true" data-autoselect="true" data-value-key="name"/>
                    <select class="form-control" name="status">
                        {{{select_status "To See"}}}
                    </select>
                </div>
                <div class="col-xs-6">
                    <input type="number" class="form-control" name="season" placeholder="Season"/>
                    <input type="number" class="form-control" name="episode" placeholder="Episode"/>
                </div>
            </div>
            <div class="row" style="margin-bottom: 7px;">
                <div class="col-xs-12">
                    <input type="submit" tabindex="-1" class="btn btn-default" value="Create !" style="width: 100%;"/>
                </div>
            </div>
        </form>
    </div>
</template>

<template name="showsuggest">
    <p class=""> &mdash; {{ name }}<span class="pull-right">({{ status }}) <em>{{getOwner owner}}</em></span></p>
</template>
